.Main_Body{
    display: flex;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 1px #333;
    padding: 20px;
    border-radius: 10px;
}
.Left_Side{
    width: 50%;
}
.Left_Side img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #333;
}

.Right_Side{
    width: 50%;
    padding: 30px;
}
.Right_Side label{

}
.Right_Side input{

}
.Right_Side button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}